{% load crispy_forms_tags %}


    {% if 'login' in request.path %}
        <h1>Zaloguj się</h1>
    {% elif 'create_user' in request.path %}
        <h1>Nowy użytkowik</h1>
    {% endif %}

    <form action="#" method="post">
        {% csrf_token %}
        {% if 'user_edit' not in request.path %}
            {{ form|crispy }}
        {% else %}
            {{ form.first_name |as_crispy_field }}
            {{ form.last_name |as_crispy_field }}
        {% endif %}
        <p><input type="submit" value="Wyślij" /></p>
    </form>

    {% if 'login' in request.path %}
        <p><a href="{% url 'create-user' %}">Stwórz konto</a></p>
    {% endif %}
